* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: radial-gradient(circle at top, #2a0f45, #0b0617);
  color: #fff;
}
.navbar{
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 16px;

}
.nav-links a {
  display: inline;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  list-style: none;
}

.btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(45deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  color:#fff;
  display: flex;
}

.hero{
  text-align: center;
}

.hero-container{
  height: 760px;
  background-image: url(../images/assets/hero-bg.png);
  background-position: center;
  background-size: cover;
}
.hero-relative{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.badge{
    position:relative;
    right: -120px;
    top: 7rem;
    background: #00ff88;
    display: inline-block;
    padding: 6px 18px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #000;;

}
.hero-image{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    box-sizing: border-box;
    border: 8px solid rgba(42, 24, 108, 1);
}
.hero h1{
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 60px;
    font-style: ExtraBold;
    font-weight: 800;

}
.hero p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.hero-btns{
    margin-top: 24px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 28px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.spotify{
    gap: 10px;
}
.mail{
    border: 2px solid #00ff88 ;
    background:transparent;
    gap: 10px;
}

.about-podcast{
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 80px 20px;
}
.about-podcast h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-podcast p{
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 1.6;
}
.about-card{
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
}
.about-card h3{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 12px;
    color:#00ff88;
}
.about-card p{
    font-size: 16px;
    font-weight: 400;
    color: #CCCCCC;
    line-height: 1.6;
    text-align: center;
}

.why-techwabe{
  padding: 120px 200px;

}
.container{
  max-width: 1600px;
  margin: 0 auto;
}
.container h2{
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
}
.grid{
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;
}
.card-1{
  grid-row: span 2;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.card-2{
  grid-column: span 2;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.card-3{
  grid-column: span 2;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.card-4{
  grid-column: span 2;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.card-5{
  grid-column: span 1;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.card-1 h3{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.card-1 p{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.card-2 h3{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;

}
.card-2 p{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.card-3 h3{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.card-3 p{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.card-4 h3{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.card-4 p{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.card-5 h3{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.card-5 p{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.icon{
  width: 60px;
  height: 60px;
  border-radius: 16px;
}