* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: radial-gradient(circle at top, #2a0f45, #0b0617);
  color: #fff;
}
.navber{
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 16px;

}
.nav-menu a {
  display: inline;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  list-style: none;
}
.navber span{
    display: none;
}

.btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(45deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  color:#fff;
  display: flex;
}

.hero{
    text-align: center;
}
.hero-section{
    height: 760px;
    background-image: url("../images/assets/hero-bg.png");
    background-position: center;
    background-size: cover;
}

.hero-relative{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.badge{
    position:relative;
    right: -120px;
    top: 7rem;
    background: #00ff88;
    display: inline-block;
    padding: 6px 18px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #000;;

}
.hero-image{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    box-sizing: border-box;
    border: 8px solid rgba(42, 24, 108, 1);
}
.hero h1{
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 60px;
    font-style: ExtraBold;
    font-weight: 800;

}
.hero p{
    font-size: 16px;
    font-weight: 400;
    color: #CCCCCC;
    line-height: 1.6;
}

.hero-btns{
    margin-top: 24px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 28px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.primary{
    gap: 10px;
}
.outline{
    border: 2px solid #00ff88 ;
    background:transparent;
    gap: 10px;
}

.about-container{
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 80px 20px;
}
.about-container h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-container p{
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 1.6;
}
.about-card{
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
}
.about-card h3{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 12px;
    color:#00ff88;
}
.about-card p{
    font-size: 16px;
    font-weight: 400;
    color: #CCCCCC;
    line-height: 1.6;
    text-align: center;
}

.why-techwave{
  padding: 120px 200px;

}
.container{
  max-width: 1600px;
  margin: 0 auto;
}
.container h2{
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
}
.grid{
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;
}
.card-1{
  grid-row: span 2;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.card-2{
  grid-column: span 2;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.card-3{
  grid-column: span 2;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.card-4{
  grid-column: span 2;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.card-5{
  grid-column: span 1;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.card-1 h3{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.card-1 p{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.card-2 h3{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;

}
.card-2 p{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.card-3 h3{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.card-3 p{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.card-4 h3{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.card-4 p{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.card-5 h3{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.card-5 p{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.icon{
  width: 60px;
  height: 60px;
  border-radius: 16px;
}

.Featured{
    padding: 120px 200px;
}
.Featured-heading h2{
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    margin-bottom: 40px;
}
.episodes-list{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
}

.episodes-video-1 , .episodes-video-2 , .episodes-video-3 {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
    box-sizing: border-box;
    gap: 16px;
    padding-bottom: 24px;
    overflow: hidden;
    cursor: pointer;
}
.episodes-video-1 iframe, .episodes-video-2 iframe, .episodes-video-3 iframe{
    border-radius: 24px 24px 0px 0px;
    background: transparent;
    width: 100%;
    height: 226px;
}
.episodes-video-1 h3, .episodes-video-2 h3, .episodes-video-3 h3{
    font-size: 24px;
    font-style: bold;
    font-weight: 700;
    margin: 0 16px;
}
.episodes-video-1 p, .episodes-video-2 p, .episodes-video-3 p{
    font-size: 16px;
    font-weight: 400;
    color: #666666f1;
    line-height: 24px;
    margin: 0 16px;
}
.episodes-video-1 span, .episodes-video-2 span, .episodes-video-3 span{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 16px;
    color: #00ff88;
    font-size: 14px;
    font-weight: 400;
}

.Meet{
    padding: 120px 200px;
    background: rgba(35, 14, 61, 1);
}
.Meet-heading h2{
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    margin-bottom: 40px;
}

.Meet-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}
.Meet-image{
    width: 200px;
    height: 200px;
}
.Meet-content h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: left;
}
.Meet-content p{
    font-size: 16px;
    font-weight: 400;
    color: #666666f1;
    line-height: 24px;
    text-align: left;
}
.Meet-socials{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.Meet-socials a{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1);
}
.Meet-socials img{
    width: 15px;
    height: 15px;
    margin: 10px;
}

.footer{
    background-image: url(../images/assets/footer-bg.png);
    background-position: center;
    padding: 120px 120px;
    text-align: center;
    color: #666666;
    font-size: 14px;
}
.footer-image{
    width: 410px;
    height: 60px;
    margin-bottom: 16px;
    object-fit: contain;
}
.footer-list{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 16px;
}
.footer-list a{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #666666;
    text-decoration: none;
}
.footer-list img{
    width: 24px;
}
.footer p{
    margin-top: 16px;;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width:576px) {
    .navber{
        justify-content: space-between;
    }
    .nav-menu{
        display: none;
    }
    .btn{
        display: none;
    }
    .navber span{
    display: inline;

    }

    .hero{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .about-container{
        padding: 40px 20px;
    }
    .about-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: auto;
        gap: 16px;
    }

    .why-techwave{
        padding: 40px 20px;
    }
    .container{
        padding: 40px 20px;
        justify-content: center;
        margin-top: 40px;
    }
    .grid {
        display: grid;
        grid-template-columns: auto;
    }
    main {
        /* width: 100%;
        height: 100%; */
        display:flex;
        flex-direction: column;
        gap: 10px;

    }

    .Featured{
        padding: 40px 20px 20px 0;
    }
    .episodes-list{
        display: grid;
        grid-template-columns: auto;
    }

    .Meet{
        padding: 60px 20px 20px 40px;
    }
    .Meet-section {
        display: grid;
        grid-template-columns: auto;
    }
    .Meet-socials {
        display: inline;
    }

    .footer{
        padding: 40px 20px;
        background-position:auto;
    }
    .footer-image {
        width: 100%;
        height: 32px ;
    }
    .footer-list{
        padding: 24px 90px ;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }
    
}
